*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #030a1b;
    perspective: 40rem;
}

.menu {
    width: 100%;
    padding: 0 25rem;
    display: flex;
    justify-content: space-evenly;
    transform-style: preserve-3d;
}

.menu-item {
    width: 20rem;
    height: 15rem;
    background-color: #5588dd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 2rem rgba(100, 100, 255. .4);
    opacity: 0.6;
    transition: all 2s;
}

.menu:hover .menu-item:nth-child(1){
    transform: rotateY(-70deg);
}

.menu-item {
    font-size: 7rem;
    color: #222;
}
